<a href="https://colab.research.google.com/github/gitzV/DataScience/blob/main/tds_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [5]:
np.random.seed(42) 
M4 = np.random.randn(10,5)
M4

array([[ 0.49671415, -0.1382643 ,  0.64768854,  1.52302986, -0.23415337],
       [-0.23413696,  1.57921282,  0.76743473, -0.46947439,  0.54256004],
       [-0.46341769, -0.46572975,  0.24196227, -1.91328024, -1.72491783],
       [-0.56228753, -1.01283112,  0.31424733, -0.90802408, -1.4123037 ],
       [ 1.46564877, -0.2257763 ,  0.0675282 , -1.42474819, -0.54438272],
       [ 0.11092259, -1.15099358,  0.37569802, -0.60063869, -0.29169375],
       [-0.60170661,  1.85227818, -0.01349722, -1.05771093,  0.82254491],
       [-1.22084365,  0.2088636 , -1.95967012, -1.32818605,  0.19686124],
       [ 0.73846658,  0.17136828, -0.11564828, -0.3011037 , -1.47852199],
       [-0.71984421, -0.46063877,  1.05712223,  0.34361829, -1.76304016]])

In [7]:
df = pd.DataFrame(M4)
df

          0         1         2         3         4
0  0.496714 -0.138264  0.647689  1.523030 -0.234153
1 -0.234137  1.579213  0.767435 -0.469474  0.542560
2 -0.463418 -0.465730  0.241962 -1.913280 -1.724918
3 -0.562288 -1.012831  0.314247 -0.908024 -1.412304
4  1.465649 -0.225776  0.067528 -1.424748 -0.544383
5  0.110923 -1.150994  0.375698 -0.600639 -0.291694
6 -0.601707  1.852278 -0.013497 -1.057711  0.822545
7 -1.220844  0.208864 -1.959670 -1.328186  0.196861
8  0.738467  0.171368 -0.115648 -0.301104 -1.478522
9 -0.719844 -0.460639  1.057122  0.343618 -1.763040

In [8]:
# re-assign 
df.columns = ["col1", "col2", "col3", "col4", "col5"]

# show 
df

       col1      col2      col3      col4      col5
0  0.496714 -0.138264  0.647689  1.523030 -0.234153
1 -0.234137  1.579213  0.767435 -0.469474  0.542560
2 -0.463418 -0.465730  0.241962 -1.913280 -1.724918
3 -0.562288 -1.012831  0.314247 -0.908024 -1.412304
4  1.465649 -0.225776  0.067528 -1.424748 -0.544383
5  0.110923 -1.150994  0.375698 -0.600639 -0.291694
6 -0.601707  1.852278 -0.013497 -1.057711  0.822545
7 -1.220844  0.208864 -1.959670 -1.328186  0.196861
8  0.738467  0.171368 -0.115648 -0.301104 -1.478522
9 -0.719844 -0.460639  1.057122  0.343618 -1.763040

In [9]:

col3 = df["col3"]  # bracket notation
# col3 = df.col3 
col3

0    0.647689
1    0.767435
2    0.241962
3    0.314247
4    0.067528
5    0.375698
6   -0.013497
7   -1.959670
8   -0.115648
9    1.057122
Name: col3, dtype: float64

In [10]:
type(col3)

pandas.core.series.Series

In [11]:
col3.shape

(10,)

In [12]:
col3.describe()

count    10.000000
mean      0.138287
std       0.822706
min      -1.959670
25%       0.006759
50%       0.278105
75%       0.579691
max       1.057122
Name: col3, dtype: float64

In [13]:
df_subset = df[["col1","col2"]] # double square brackets
df_subset

       col1      col2
0  0.496714 -0.138264
1 -0.234137  1.579213
2 -0.463418 -0.465730
3 -0.562288 -1.012831
4  1.465649 -0.225776
5  0.110923 -1.150994
6 -0.601707  1.852278
7 -1.220844  0.208864
8  0.738467  0.171368
9 -0.719844 -0.460639

In [14]:
df_subset = df[["col3","col1"]] # double square brackets
df_subset

       col3      col1
0  0.647689  0.496714
1  0.767435 -0.234137
2  0.241962 -0.463418
3  0.314247 -0.562288
4  0.067528  1.465649
5  0.375698  0.110923
6 -0.013497 -0.601707
7 -1.959670 -1.220844
8 -0.115648  0.738467
9  1.057122 -0.719844

In [15]:
# come up with some data
M5 = np.array([["no","factor1",0],
               ["yes","factor2",2], 
               ["no","factor3",0], 
               ["no","factor4",2],
               ["yes","factor1", 1], 
               ["no","factor2",3],
               ["yes","factor5",3],
               ["no","factor1",0],
               ["yes","factor5",3],
               ["yes","factor1",2],
               ["yes","factor5",1],
               ["no","factor1",2],
               ["no","factor2",0],
               ["yes","factor1",1],
               ["no","factor3",2]
              ])

# create a dataframe with columns
df2 = pd.DataFrame(M5, columns=["Request","Factor","Impact"])
df2["Impact"] = df2["Impact"].astype(int)
df2

   Request   Factor  Impact
0       no  factor1       0
1      yes  factor2       2
2       no  factor3       0
3       no  factor4       2
4      yes  factor1       1
5       no  factor2       3
6      yes  factor5       3
7       no  factor1       0
8      yes  factor5       3
9      yes  factor1       2
10     yes  factor5       1
11      no  factor1       2
12      no  factor2       0
13     yes  factor1       1
14      no  factor3       2

In [16]:
np.random.seed() # This will fix the random number generation

# create random uniform array of values with compatible shape
cs = np.random.uniform(low=-1, 
                       high=1, 
                       size=(M5.shape[0])) # create a random array 
print(cs.shape)

# Assign array to dataframe
df2["kll_index"] = cs 
display(df2)

(15,)

   Request   Factor  Impact  kll_index
0       no  factor1       0   0.961502
1      yes  factor2       2   0.834908
2       no  factor3       0   0.633315
3       no  factor4       2   0.338865
4      yes  factor1       1  -0.564557
5       no  factor2       3  -0.958033
6      yes  factor5       3   0.238783
7       no  factor1       0  -0.171524
8      yes  factor5       3  -0.244575
9      yes  factor1       2  -0.473332
10     yes  factor5       1  -0.227697
11      no  factor1       2   0.889006
12      no  factor2       0   0.085805
13     yes  factor1       1   0.419910
14      no  factor3       2   0.504418

(15,)

In [17]:
condition = df2['Request'] == 'no'
condition

0      True
1     False
2      True
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
11     True
12     True
13    False
14     True
Name: Request, dtype: bool

In [18]:
condition1 = df2["Impact"] >= 2  
condition2 = df2["kll_index"] < 0 
condition3 = df2["Factor"] == "factor1"
df2_subset = df2[(condition1|condition2)&condition3]
df2_subset

   Request   Factor  Impact  kll_index
4      yes  factor1       1  -0.564557
7       no  factor1       0  -0.171524
9      yes  factor1       2  -0.473332
11      no  factor1       2   0.889006

In [19]:
# suppose we have this mapping 
mapping = {"factor1":"NA", "factor2":"MX","factor3":"LX","factor4":"TY","factor5":"PSOX"}

# apply the mapping to the Service_type column and create a new one  
df2["EDX"] = df2["Factor"].apply(lambda x: mapping.get(x,"Not Found")) 

# display result 
df2

   Request   Factor  Impact  kll_index   EDX
0       no  factor1       0   0.961502    NA
1      yes  factor2       2   0.834908    MX
2       no  factor3       0   0.633315    LX
3       no  factor4       2   0.338865    TY
4      yes  factor1       1  -0.564557    NA
5       no  factor2       3  -0.958033    MX
6      yes  factor5       3   0.238783  PSOX
7       no  factor1       0  -0.171524    NA
8      yes  factor5       3  -0.244575  PSOX
9      yes  factor1       2  -0.473332    NA
10     yes  factor5       1  -0.227697  PSOX
11      no  factor1       2   0.889006    NA
12      no  factor2       0   0.085805    MX
13     yes  factor1       1   0.419910    NA
14      no  factor3       2   0.504418    LX

In [20]:
condition = df2["Factor"] == "factor1"
df2.loc[condition, "Request"] = "no" 
df2

   Request   Factor  Impact  kll_index   EDX
0       no  factor1       0   0.961502    NA
1      yes  factor2       2   0.834908    MX
2       no  factor3       0   0.633315    LX
3       no  factor4       2   0.338865    TY
4       no  factor1       1  -0.564557    NA
5       no  factor2       3  -0.958033    MX
6      yes  factor5       3   0.238783  PSOX
7       no  factor1       0  -0.171524    NA
8      yes  factor5       3  -0.244575  PSOX
9       no  factor1       2  -0.473332    NA
10     yes  factor5       1  -0.227697  PSOX
11      no  factor1       2   0.889006    NA
12      no  factor2       0   0.085805    MX
13      no  factor1       1   0.419910    NA
14      no  factor3       2   0.504418    LX

In [21]:
df2.sort_values(by=["kll_index"], 
                ascending=True, 
                inplace=True) 
df2

   Request   Factor  Impact  kll_index   EDX
5       no  factor2       3  -0.958033    MX
4       no  factor1       1  -0.564557    NA
9       no  factor1       2  -0.473332    NA
8      yes  factor5       3  -0.244575  PSOX
10     yes  factor5       1  -0.227697  PSOX
7       no  factor1       0  -0.171524    NA
12      no  factor2       0   0.085805    MX
6      yes  factor5       3   0.238783  PSOX
3       no  factor4       2   0.338865    TY
13      no  factor1       1   0.419910    NA
14      no  factor3       2   0.504418    LX
2       no  factor3       0   0.633315    LX
1      yes  factor2       2   0.834908    MX
11      no  factor1       2   0.889006    NA
0       no  factor1       0   0.961502    NA

In [22]:
df2.reset_index(inplace=True)
df2

    index Request   Factor  Impact  kll_index   EDX
0       5      no  factor2       3  -0.958033    MX
1       4      no  factor1       1  -0.564557    NA
2       9      no  factor1       2  -0.473332    NA
3       8     yes  factor5       3  -0.244575  PSOX
4      10     yes  factor5       1  -0.227697  PSOX
5       7      no  factor1       0  -0.171524    NA
6      12      no  factor2       0   0.085805    MX
7       6     yes  factor5       3   0.238783  PSOX
8       3      no  factor4       2   0.338865    TY
9      13      no  factor1       1   0.419910    NA
10     14      no  factor3       2   0.504418    LX
11      2      no  factor3       0   0.633315    LX
12      1     yes  factor2       2   0.834908    MX
13     11      no  factor1       2   0.889006    NA
14      0      no  factor1       0   0.961502    NA

In [23]:
df2.drop(columns=["index"], inplace=True)
df2

   Request   Factor  Impact  kll_index   EDX
0       no  factor2       3  -0.958033    MX
1       no  factor1       1  -0.564557    NA
2       no  factor1       2  -0.473332    NA
3      yes  factor5       3  -0.244575  PSOX
4      yes  factor5       1  -0.227697  PSOX
5       no  factor1       0  -0.171524    NA
6       no  factor2       0   0.085805    MX
7      yes  factor5       3   0.238783  PSOX
8       no  factor4       2   0.338865    TY
9       no  factor1       1   0.419910    NA
10      no  factor3       2   0.504418    LX
11      no  factor3       0   0.633315    LX
12     yes  factor2       2   0.834908    MX
13      no  factor1       2   0.889006    NA
14      no  factor1       0   0.961502    NA

In [24]:
df_agg = df2.groupby("EDX").sum().reset_index()
df_agg

    EDX  Impact  kll_index
0    LX       2   1.137734
1    MX       5  -0.037320
2    NA       6   1.061005
3  PSOX       7  -0.233489
4    TY       2   0.338865